body{
    margin:0px;
/*    padding:0px;*/
}
div{
    height:700px;
/*    text-align: center;*/
}


h1{
    margin:0px;
    font-size:4em;
    color:#D896FF;
}
p{
 color:#DFE3EE;   
}

span{
    display: block;
    text-align: center;
    padding-top:250px;
/*    width:600px;*/
  
    
}

/*navigation css*/
ul{
    margin-top:0px;
    padding:0px;
/*    background-color: #333;*/
    overflow:hidden;
    list-style-type: none;
    opacity:0.7;
    position: absolute;
    top:25px;
    width:100%
}

li{
    float:left; 
}
li a{
    display:block;
    text-decoration: none;
    padding:10px 15px;
    color:white;
}

.righty{
    float:right;
}

li a:hover{
    background-color: red;
}
.active{
    background-color: red;
}
li a:active{
    background-color:green;
}
#center{
  position:relative;
  margin-left:35%;
}


/*upto this*/